[Desktop Entry]
Name=Go Application
Comment=Demos & Examples of Syncfusion Flutter Widgets.
Exec=goapp
Icon=${SNAP}/meta/gui/goapp-gallery.png
Terminal=false
Type=Application
Categories=Productivity;
